@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'DM Sans', sans-serif;
	background-color: #181414;
	color: #00ffff;
	overflow: hidden;
}

.center-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	min-width: 300px;
}

.logo-wrapper {
	display: block;
	margin: 0 auto;
}

.logo {
	will-change: transform, filter;
	width: 150px;
	display: block;
	margin: 0 auto;
	transform-origin: center;
	transition: transform 5s ease-in-out, filter 5s ease-in-out;
}

.logo:hover {
	transform: rotate(8640deg);
	filter: blur(64px) hue-rotate(360deg);
}

h1 {
	font-weight: 500;
	margin: 10px 0;
	font-size: 36px;
	white-space: nowrap;
}

a.button {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
	border-radius: 25px;
	font-size: 18px;
	transition: background-color 0.1s linear;
	white-space: nowrap;
}

@media (hover: hover) {
	a.button:hover {
		background-color: #555555;
		animation: OpacityWobble 1s infinite;
	}
}

a.button:active {
	background-color: #040404 !important;
	animation: none !important;
}

@keyframes OpacityWobble {
	0% {filter: opacity(1);}
	50% {filter: opacity(0.8);}
	100% {filter: opacity(1);}
}

.github-corner {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	z-index: 1000;
}

.github-corner img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s;
}

.github-corner img.hover {
	opacity: 0;
}

@media (hover: hover) {
	.github-corner:hover img.hover {
		opacity: 1;
	}
	.github-corner:hover img.default {
		opacity: 0;
	}
}

@media (max-width: 600px) {
	.logo {
		width: 60%;
	}
	h1 {
		font-size: 20px;
	}
	a.button {
		font-size: 16px;
		padding: 10px 16px;
	}
}



@media (hover: none) {
	.logo{
		transition: none;
	}

	.logo.spin {
		animation: tapSpin 5s ease-in-out;
		animation-fill-mode: forwards;
	}
	@keyframes tapSpin {
		0%   { transform: rotate(0deg); filter: blur(0); }
		50%  { transform: rotate(4320deg); filter: blur(64px); }
		100% { transform: rotate(0deg); filter: blur(0); }
	}
}

@media (hover: hover) {
	.logo.spin {
		animation: none;
	}
}

