@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

:root {
	--bg-color: #090707;
	--bg-color_target: #1a2324;
	--sam-color: #00ffff;
	--text-color: #00ffff;
	--info_text-color: #9db9bd;
	--text-color_dark: #0AA;
	--button-bg: #333333;
	--button-hover-bg: #555555;
	--base-element: #040404b5;
	--button-text-color: #ffffff;
  --uiGrey: #6f6f6f;
	--blur-amount: 8px;
}

.padding {
	font-family: 'Tektur', sans-serif;
	font-weight: 100;
	padding: 0px 16px 0px 16px;
}



.ax a {
	text-decoration: none;
	margin: 16px;
	font-size: 24px;
	color: var(--info_text-color);
	font-family: 'Tektur', sans-serif;
	animation: shine 2s ease-in-out infinite;
}

.ax:hover {
	animation: shine 1s ease-in-out infinite;
}

@keyframes shine {

	0%,
	100% {
		filter: brightness(100%)
	}

	50% {
		filter: brightness(50%)
	}

}



html,
body {
	will-change: opacity;
	opacity: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Doto', sans-serif;
	background: linear-gradient(345deg, var(--bg-color), var(--bg-color_target));
	text-rendering: optimizeLegibility;
	overscroll-behavior: none;
	color: var(--text-color);
	transition: opacity 0.8s ease-in;
}

.opaq {
	opacity: 100%;
}

.background-animation {
	display: flex;
	will-change: opacity;
	position: absolute;
	align-items: center;
	width: 100%;
	height: 512px;
	justify-content: center;
	filter: blur(4px);
	overflow: hidden;
	z-index: 0;
	transition: opacity 0.5s ease-in-out;
	opacity: 100%;
}

.no-opacity {
	opacity: 0%;
}

.b-a-hidden {
	display: none;
}

.background-animation video {
	align-items: center;
	width: 100%;
	justify-content: center;
	opacity: 50%;
	/* backdrop-filter: saturate(0%); */
	z-index: -1;
}

.center {
	display: flex;
	will-change: transform;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--base-element);
	width: auto;
	height: 152px;
	border-radius: 8px;
	border: 1px solid var(--text-color_dark);
	backdrop-filter: blur(16px);
	box-shadow: 0px 0px 4px var(--text-color_dark);
	z-index: 1;
	transition: transform 0.5s ease-in-out;
}

.center-right {
	display: flex;
	width: 432px;
	flex-direction: row;
	flex-wrap: wrap;
	height: 128px;
	text-align: center;
	align-items: start;
	justify-content: start;
}

.span-p {
	font-family: 'Tektur', sans-serif;
	user-select: none;
	text-transform: lowercase;
	color: var(--info_text-color);
	margin-left: 8px;
}

.youtube-span {
	padding: 16px;
}

.logo {
	will-change: transform, filter, opacity;
	display: block;
	filter: drop-shadow(0px 0px 10px #07556955);
	width: 150px;
	display: block;
	margin: 0 auto;
	cursor: help;
	transform-origin: center;
	transition: transform 2s ease-in-out, filter 2s ease-in-out;
	user-select: none;
}

.separator {
	margin-right: 32px;
	height: 128px;
	width: 2px;
	background-color: #00000080;
}


h1 {
	will-change: color;
	font-weight: 500;
	margin: 10px 0;
	font-size: 36px;
	white-space: nowrap;
	color: var(--sam-color);
	filter: drop-shadow(0px 0px 5px var(--text-color));
	transition: color 0.1s ease-in-out;
	user-select: none;
	cursor: cell;
}

.error-format {
	color: red;
	font-weight: 700;
	font-family: 'Tektur', sans-serif;
}

.line {
	display: block;
	position: relative;
	background-color: var(--uiGrey);
	top: 2px;
	width: 16px;
	height: 2px;
	transform: rotate(-45deg) translateX(4px);
	transition: transform 0.1s ease-in-out, top 0.1s ease-in-out;
	border-radius: 1px
}

.line2 {
	display: block;
	position: relative;
	background-color: var(--uiGrey);
	top: 2px;
	width: 16px;
	height: 2px;
	transform: rotate(45deg) translateX(-4px);
	transition: transform 0.1s ease-in-out, top 0.1s ease-in-out;
	border-radius: 1px
}

.down {
	transform: rotate(45deg) translateX(4px);
	top: -2px;
  background-color: var(--text-color);
}

.down2 {
	transform: rotate(-45deg) translateX(-4px);
	top: -2px;
  background-color: var(--text-color);
}

a.button {
	will-change: background-color, font-size;
	font-family: 'Tektur', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 256px;
	background-color: var(--button-bg);
	color: var(--text-color);
	text-decoration: none;
	border-radius: 32px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.1s linear, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
}

label.button {
	will-change: background-color, font-size;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 64px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	border-radius: 32px;
	cursor: pointer;
	overflow: visible;
	transition: background-color 0.1s linear, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
}

@media (hover: hover) {

	label.button:hover {
		background-color: var(--button-hover-bg);
	}

	a.button:hover {
		background-color: var(--button-hover-bg);
		font-size: 22px;
	}
}

@media (min-width: 768px) {
	.empty-clickspace {
		display: none;
	}

	.center2 {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: auto;
		opacity: 0%;
		align-items: center;
		justify-content: center;
		background-color: var(--base-element);
		width: 256px;
		height: 152px;
		border-radius: 8px;
		border: 1px solid var(--text-color_dark);
		backdrop-filter: blur(16px);
		box-shadow: 0px 0px 4px var(--text-color_dark);
		z-index: 0;
		transform: scaleX(0.5);
		transition: width 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	}

	.center2.poppedout {
		position: absolute;
		width: 512px;
		border-radius: 8px 8px 0px 0px;
		transform: translateY(-98%);
		opacity: 100%;
	}

	.minimized {
		transform: scale(100%);
	}
}

.empty-clickspace {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	background-color: #000;
	z-index: 11;
	cursor: pointer;
}

.inline-emoji {
	display: inline-block;
	width: 24px;
	height: auto;
	margin-left: 8px;
	line-height: 2px;
	opacity: 90%;
}

.disabled {
	display: none;
	pointer-events: none;
}

@media (max-width: 768px) {

	.minimized {
		transform: scale(50%);
		opacity: 75%;
	}

	.span-p,
	.animation-check-top-left,
	.animation-check-top-left .checkbox-label,
	.animation-check-top-left .checkbox-label .checkbox-check-indicator {
		display: none;
		opacity: 0;
		user-select: none;
	}

	.center2 {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: -260px;
		opacity: 0%;
		align-items: center;
		justify-content: center;
		background-color: var(--base-element);
		width: 332px;
		height: 256px;
		border-radius: 0px 0px 8px 8px;
		border: 1px solid var(--text-color_dark);
		border-top: none;
		backdrop-filter: blur(16px);
		box-shadow: 0px 0px 4px var(--text-color_dark);
		z-index: 12;
		transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	}

	.center2.poppedout {
		position: absolute;
		transform: translateY(100%);
		opacity: 100%;
	}

	.background-animation {
		display: none;
	}

	.center {
		flex-direction: column;
		max-width: 332px;
		min-height: 664px;
	}

	.center-right {
		align-items: center;
		gap: 8px;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.separator {
		margin-right: 0;
		margin-bottom: 16px;
		width: 256px;
		height: 2px;
		background-color: #00000080;
	}

	.logo {
		width: 256px;
	}

	.logo.spin {
		will-change: transform, filter;
	}

	h1 {
		margin: 0px 0px 16px;
		font-size: 24px;
	}

	label.button {
		height: 32px;
		border-radius: 32px;
		padding: 10px 10px 10px 10px;
	}

	a.button {
		font-size: 24px;
		height: 32px;
		border-radius: 32px;
		padding: 10px 10px 10px 10px;
	}
}

label,
a.button.activated {
	background-color: #101010;
}

.logo.spin {
	will-change: transform, filter, opacity;
	cursor: default;
	z-index: 10;
	animation: tapSpin 2s ease forwards;
}

@keyframes tapSpin {

	0% {
		transform: scale(100%);
		filter: drop-shadow(0px 0px 10px #07556955) hue-rotate(0deg);
		opacity: 100%;
	}

	25% {
		transform: scale(50%);
		filter: drop-shadow(0px 0px 0px #0000) hue-rotate(60deg);
		opacity: 75%;
	}

	50% {
		transform: scale(500%);
		filter: drop-shadow(0px 0px var(--blur-amount) #0FFF) hue-rotate(180deg);
		opacity: 0%;
	}

	75% {
		transform: scale(50%);
		filter: drop-shadow(0px 0px var(--blur-amount) #0FFF) hue-rotate(180deg);
		opacity: 0%;
	}

	100% {
		transform: rotate(360deg) scale(100%);
		filter: drop-shadow(0px 0px 10px #07556955) hue-rotate(0deg);
		opacity: 100%;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}

	.background-animation {
		display: none;
	}
}

.animation-check-top-left {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: left;
	align-items: start;
	text-align: center;
	line-height: 16px;
	top: 8px;
	left: 0px;
	padding: 0px 8px 8px 0px;
	border-bottom: solid 1px var(--info_text-color);
}

.checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 4px;
	width: 16px;
	height: 16px;
	z-index: 2;
}

.checkbox-check-indicator {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: #f0f0f0;
}

.check-hidden {
	display: none;
}

.checkbox-1 {
	appearance: none;
}

.underline {
	text-decoration: underline;
}
