@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

:root {
	--bg-color: #0f0a0a;
	--text-color: #00ffff;
	--button-bg: #333333;
	--button-hover-bg: #555555;
	--button-active-bg: #040404;
	--button-text-color: #ffffff;
	--blur-amount: 8px;
}



html,
body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Doto', sans-serif;
	background: linear-gradient(35deg, var(--bg-color), #222);
	overscroll-behavior: none;
	color: var(--text-color);
}

.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
}

.center-right {
	display: flex;
	flex-direction: column;
	height: 128px;
	align-items: center;
	justify-content: center;
}

.logo {
	will-change: transform, filter;
	display: block;
	filter: drop-shadow(0px 0px 10px #07556955);
	width: 150px;
	display: block;
	margin: 0 auto;
	cursor: help;
	transform-origin: center;
	transition: transform 5s ease-in-out, filter 5s ease-in-out;
}

.separator {
	margin-right: 32px;
	height: 128px;
	width: 2px;
	background-color: #00000080;
}

h1 {
	font-weight: 500;
	margin: 10px 0;
	font-size: 36px;
	white-space: nowrap;
	filter: drop-shadow(0px 0px 5px #08AA);
}

a.button {
	will-change: background-color, font-size;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 256px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	text-decoration: none;
	border-radius: 32px;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.1s linear, font-size 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) {
	a.button:hover {
		background-color: var(--button-hover-bg);
		font-size: 22px;
	}
}

/*
.github-corner {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	z-index: 1000;
	transition: filter 0.1s linear;
}

.github-corner img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
} */


@media (max-width: 768px) {

	.center {
		flex-direction: column;

	}

	.separator {
		margin-right: 0;
		margin-bottom: 0;
		width: 256px;
		height: 2px;
		background-color: #00000080;
	}

	.logo {
		width: 256px;
	}

	h1 {
		margin: 0px 0px 16px;
		font-size: 24px;
	}

	a.button {
		font-size: 24px;
		height: 32px;
		border-radius: 32px;
		padding: 10px 10px 10px 10px;
	}
}

a.button.activated {
	background-color: #101010;
}

.logo.spin {
	will-change: transform, filter;
	cursor: default;
	z-index: 10;
	animation: tapSpin 5s ease forwards;
}

@keyframes tapSpin {

	0% {
		transform: rotate(0deg) scale(100%);
		filter: drop-shadow(0px 0px 10px #07556955) blur(0px) hue-rotate(0deg);
	}

	25% {
		transform: rotate(0deg) scale(50%);
		filter: drop-shadow(0px 0px 0px #0000) blur(var(--blur-amount)) hue-rotate(30deg);
	}

	50% {
		transform: rotate(360deg) scale(500%);
		filter: drop-shadow(0px 0px var(--blur-amount) #0FFF) blur(var(--blur-amount)) hue-rotate(60deg);
	}

	100% {
		transform: rotate(360deg) scale(100%);
		filter: drop-shadow(0px 0px 10px #07556955) blur(0px) hue-rotate(0deg);
	}

}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}
}