@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@400;700;900&display=swap');

:root {
	--bg-color: #050505;
	--bg-color_target: #051010;
	--sam-color: #00ffff;
	--text-color: #00ffff;
	--info_text-color: #9db9bd;
	--text-color_dark: #0AA;
	--button-bg: #2c2c33;
	--button-hover-bg: #4d4954;
	--button-text-color: #ffffff;
	--base-element: #040404b5;
	--base-element-opaque: #040404;
	--uiGrey: #6f6f6f;
	--blur-amount: 8px;
	--def-border-radius: 8px;
	--bezier: cubic-bezier(0.6, 0.05, 0.1, 0.95);
}

.padding {
	font-family: 'Tektur', sans-serif;
	font-weight: 100;
	padding: 0px 16px 0px 16px;
}

#cover {
	position: absolute;
	width: 110%;
	height: 110%;
	background-color: var(--bg-color);
	opacity: 100%;
	transition: opacity 0.8s var(--bezier);
	z-index: 420;
}


.pad {
	padding: 24px !important;
	width: auto !important;
	left: 8px;
	right: auto;
}

.ax a {
	text-decoration: none;
	margin: 16px;
	font-size: 24px;
	color: var(--info_text-color);
	font-family: 'Tektur', sans-serif;
	animation: shine 2s var(--bezier) infinite;
}

.ax:hover {
	animation: shine 1s var(--bezier) infinite;
}

@keyframes shine {

	0%,
	100% {
		filter: brightness(100%)
	}

	50% {
		filter: brightness(50%)
	}

}



html,
body {
	will-change: opacity;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Tektur', sans-serif;
	background: linear-gradient(345deg, var(--bg-color), var(--bg-color_target));
	text-rendering: optimizeLegibility;
	overscroll-behavior: none;
	overflow: hidden;
	color: var(--text-color);
}

.opaq {
	opacity: 0%;
}

.background-animation,
.background-still {
	display: flex;
	will-change: opacity;
	position: absolute;
	align-items: center;
	width: 100%;
	height: 512px;
	justify-content: center;
	filter: blur(2px);
	overflow: hidden;
	z-index: 0;
	transition: opacity 0.5s var(--bezier);
	opacity: 100%;
}

.background-animation video,
.background-still img {
	align-items: center;
	width: 100%;
	justify-content: center;
	opacity: 50%;
	z-index: -1;
	overflow: hidden;
	user-select: none;
}

.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--base-element-opaque);
	width: 616px;
	height: 152px;
	border-radius: 8px;
	border: 1px solid var(--text-color_dark);
	box-shadow: 0px 0px 4px var(--text-color_dark);
	z-index: 1;
}

.center-right {
	display: flex;
	width: 432px;
	flex-direction: row;
	flex-wrap: wrap;
	height: 128px;
	text-align: center;
	align-items: start;
	justify-content: start;
}

.span-p {
	font-family: 'Tektur', sans-serif;
	user-select: none;
	text-transform: lowercase;
	color: var(--info_text-color);
	text-shadow: 0px 4px #000;
	margin-left: 8px;
}

.youtube-span {
	padding: 16px;
}

.logo {
	will-change: transform, filter;
	display: block;
	/* filter: drop-shadow(0px 0px 32px #07556933); */
	width: 150px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transform-origin: center;
	transition: transform 2s var(--bezier), filter 2s var(--bezier);
	user-select: none;
}

.separator {
	margin-right: 32px;
	height: 128px;
	width: 2px;
	background-color: #00808080;
}


h1 {
	will-change: color;
	margin: 10px 0;
	font-weight: 600;
	font-family: 'Doto', sans-serif;
	font-size: 36px;
	white-space: nowrap;
	color: var(--sam-color);
	text-shadow: 0px 0px 16px var(--sam-color);
	transition: color 0.1s var(--bezier);
	user-select: none;
	cursor: pointer;
}

.error-format {
	color: red;
	font-weight: 700;
	font-family: 'Tektur', sans-serif;
}

.popout-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	will-change: transform, color;
	transform: translateZ(0);
	color: var(--text-color);
	transition: transform 0.1s var(--bezier), color 0.1s var(--bezier);
}

.down {
	transform: rotateX(180deg) translateZ(0);
	color: var(--uiGrey);
}

.button {
	display: flex;
	border-radius: var(--def-border-radius);
	align-items: center;
	border-style: none;
	justify-content: center;
	box-shadow: inset 2px -2px 4px #000000, inset -2px 2px 4px #000000, inset 2px 2px 4px #ffffff80, inset -2px -2px 4px #ffffff80;
	border: 1px solid #0001;
}

button.button,
a.button {
	will-change: background-color;
	font-family: 'Tektur', sans-serif;
	height: 32px;
	width: 256px;
	background-color: var(--button-bg);
	color: var(--text-color);
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.1s var(--bezier);
	user-select: none;
}

label.button {
	will-change: background-color;
	height: 32px;
	width: 64px;
	background-color: var(--button-bg);
	color: var(--button-text-color);
	cursor: pointer;
	transition: background-color 0.1s var(--bezier);
	user-select: none;
}

.active {
	background-color: var(--button-bg);
	box-shadow: inset 2px 2px 4px #ffffff80, inset -2px -2px 4px #ffffff80, inset 2px -2px 4px #000000, inset -2px 2px 4px #000000;
}

@media (hover: hover) {
	.button:hover {
		background-color: var(--button-hover-bg);
	}

	.button:active {
		transform: rotate3d(360);
		background-color: var(--button-bg);
		box-shadow: inset 2px 2px 4px #ffffff80, inset -2px -2px 4px #ffffff80, inset 2px -2px 4px #000000, inset -2px 2px 4px #000000;
		border-color: #ffffff;
	}
}

@media (min-width: 768px) {
	.empty-clickspace {
		display: none;
	}

	.center {
		border-radius: 76px 8px 8px 76px;
	}

	.bl {
		display: none !important;
	}

	.center2 {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: auto;
		margin-left: 56px;
		align-items: center;
		justify-content: center;
		background-color: var(--base-element);
		width: 530px;
		height: 152px;
		border-radius: 8px 8px 0px 0px;
		border: 2px solid #0008;
		backdrop-filter: blur(16px);
		z-index: 0;
		transform: scaleY(0.9);
		transition: transform 0.2s var(--bezier);
	}

	.center2.poppedout {
		transform: translateY(-98%) scaleY(1);
	}

	.background-still {
		display: none;
	}

	.minimized {
		appearance: none;
	}
}

.empty-clickspace {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	background-color: #000;
	z-index: 11;
	cursor: default;
}

.inline-emoji {
	display: inline-block;
	width: 24px;
	height: auto;
	margin-left: 8px;
	line-height: 2px;
	opacity: 90%;
}

.disabled {
	display: none;
	pointer-events: none;
}

@media (max-width: 768px) {

	.minimized {
		transform: scale(50%);
		filter: saturate(0%) brightness(50%);
	}

	.checkbox-1 {
		position: absolute;
	}

	.center2 {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: -260px;
		opacity: 0%;
		align-items: center;
		justify-content: center;
		background-color: var(--base-element);
		width: 332px;
		height: 256px;
		border-radius: 0px 0px 8px 8px;
		border: 1px solid var(--text-color_dark);
		border-top: none;
		backdrop-filter: blur(16px);
		box-shadow: 0px 0px 4px var(--text-color_dark);
		z-index: 12;
		transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	}

	.center2.poppedout {
		position: absolute;
		transform: translateY(100%);
		opacity: 100%;
	}

	.background-animation {
		display: none;
	}

	.background-still {
		display: flex;
	}

	.center {
		display: grid;
		grid-template-rows: 332px 32px 256px;
		grid-template-columns: 332px;
		justify-items: center;
		border-radius: 166px;
		width: 332px;
		height: auto;
		max-height: 664px;
		transition: transform 0.5s ease-in-out, filter 0.5s ease-out;
	}

	.center-right {
		display: flex;
		width: 264px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.separator {
		display: none;
	}

	.logo {
		width: 256px;
	}

	.spin {
		will-change: transform, filter;
	}

	h1 {
		font-size: 32px;
		text-wrap: wrap;
		line-break: strict;
		text-align: justify;
	}

	.bl {
		display: flex;
	}

	.button {
		padding: 16px;
	}
}

label,
a.button.activated {
	background-color: #101010;
}

.break-anywhere {
	line-break: anywhere;
}

.spin {
	will-change: transform, filter, opacity;
	cursor: default;
	z-index: 10;
	animation: tapSpin 2s ease forwards;
}

@keyframes tapSpin {

	0% {
		transform: scale(1.0) rotateY(0deg);
		opacity: 100%;
	}

	25% {
		transform: scale() rotateY();
		opacity: 75%;
	}

	50% {
		transform: scale(0.5) rotateY(360deg);
		opacity: 0%;
	}

	75% {
		transform: scale() rotateY(720deg);
		opacity: 0%;
	}

	100% {
		transform: scale();
		opacity: 100%;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
	}

	.background-animation {
		display: none;
	}
}

.animation-check-top-left {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: auto;
	justify-content: left;
	align-items: start;
	text-align: center;
	line-height: 16px;
	top: 8px;
	left: 0px;
	padding: 0px 8px 8px 0px;
	border-bottom: solid 1px var(--info_text-color);
}

.checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 4px;
	width: 16px;
	height: 16px;
	z-index: 2;
}

.checkbox-check-indicator {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	background-color: #f0f0f0;
}

.check-hidden {
	display: none;
}

.checkbox-1 {
	appearance: none;
}

.underline {
	text-decoration: underline;

}


